<!--views/articles/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Articles index</h1>
<div style="border: solid 1px black; width: 300px; padding: 0px 20px;">
<p><a href="/articles/new" title="New Article">Create a New Article</a> | <a href="/authors/new" title="New Author">Create a New Author</a></p>
</div>

<h2>All Articles:</h2>

<% articlesList.forEach(function(article) { %>
<div style="margin-top: 10px;">
  <a href="/articles/<%= article.id %>"><%= article.title %></a><br />
  Author: <%= article.Author.first_name  %> <%= article.Author.last_name  %>
  <br />
</div>
<% }) %>


</body>
</html>

