<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
  </head>
  <body>
    <h1>Add an article</h1>
    <form method="post" action="/articles">
      <input type="text" name="article[title]" placeholder="Article title"><br />
      <select name="article[AuthorId]">
        <option value="">Select an author...</option>
        <% ejsAuthors.forEach(function(author) { %>
          <option value="<%= author.id %>"><%= author.first_name %> <%= author.last_name %></option>
        <% })  %>
      </select>
      <br />
      <textarea name="article[content]"></textarea><br />
      <button>Save </button>
    </form>

    <div>
      <br><a href="/articles">Articles</a><br>
      <a href="/authors">Authors</a><br>
      <a href="/about">About</a><br>
      <a href="/contact">Contact</a><br>
    </div>
    
  </body>
</html>
