<!--views/authors/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Author: <%= ejsAuthor.first_name %> <%= ejsAuthor.last_name %></h1>
<div>
	<h2>Articles by Author:</h2>
  <ul>
  	<% ejsAuthor.Articles.forEach(function(article) {  %>
  	<li><a href="/articles/<%= article.id  %>"><%= article.title  %></a></li>
  	<% });  %>
  </ul>
</div>

<div>
  <a href="/articles">Articles</a><br>
  <a href="/authors">Authors</a><br>
  <a href="/about">About</a><br>
  <a href="/contact">Contact</a><br>
</div>

</body>
</html>

