<!--views/authors/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>All Authors</h1>
<% ejsAuthors.forEach(function(author) { %>
<div>
  <a href="/authors/<%= author.id %>"><%= author.first_name %> <%= author.last_name  %></a>
</div>
<% }) %>
</body>
</html>

