<!--views/users/profile.ejs-->
<!DOCTYPE HTML>
<html>
<body>
	<h1>User:</h1>
	<h2><%= user.email %></h2>

	<div>
		<a href="/articles">Articles</a><br>
		<a href="/authors">Authors</a><br>
		<a href="/about">About</a><br>
		<a href="/contact">Contact</a><br>
	</div>

</body>
</html>

