<!--views/users/signup.ejs-->
<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>

        <h1>User Sign Up</h1>
        <form method="post" action="/users">
            <input type="text" name="user[email]" placeholder="Email"><br />
            <input type="text" name="user[password]" placeholder="Password">
            <br>
            <br>
            <button>Sign up</button>
        </form>

    </body>
</html>
