<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Daily Planet Login</title>
</head>
<body>
	<h1>Please Login:</h1>
	<form method="post" action="/login">
		<input type="text" name="user[email]" placeholder="Email">
		<input type="text" name="user[password]" placeholder="Password">
		<button>Submit</button>
	</form>
</body>
</html>